:root {
  --main-bg-clr: #4a4e4d;
  --dark-green: #0e9aa7;
  --mid-green: #377d49;
  /* --yellow-clr: #f6cd61; */
  --yellow-clr: #f6cd61;
  /* --orange-clr: #fe8a71; */
  --orange-clr: #FF6F3C;
  --dark-purple: #0C056D;
  --other-orange: #FF9A3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pages {
  display: flex;
  width: 300%;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.7s;
  color: white;
}

header {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--orange-clr);
  border-radius: 16px;
  padding: 3rem;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Fredoka One', sans-serif;
  font-size: 5rem;
  color: var(--yellow-clr);
  line-height: 4.5rem;
}

.h1-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1 .alt-color {
  color: var(--orange-clr);
}

.nav-button {
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
}

.nav-button:hover {
  transform: scale(1.05);
}

.vs-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Buttons */
.vs-button {
  display: block;
  background-image: linear-gradient(to right, var(--orange-clr) 0%, var(--other-orange) 51%, var(--yellow-clr) 100%);
  border: none;
  padding: 1rem;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  width: 17rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
} 
 
.vs-button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
} 
 
.vs-button:hover:not(:disabled) {
  background-image: linear-gradient(to right, var(--dark-green) 0%, var(--mid-green) 100%);
  /* background-image: linear-gradient(to right, #FF4E50 0%, #FF4E50  100%); */
  color: white;
  /* text-shadow: 0 0.1rem #bcb4b4; */
} 
 
button:disabled {
  cursor: auto;
  color: grey;
}

/* end  */

.players-info {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);ck;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.player1-info,
.player2-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.player-name {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.player-name label {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: .5rem;
  color: var(--yellow-clr);
}

.player-name input {
  font-size: 1rem;
  padding: .5rem;
  background-color: #f6cd61;
  border-radius: 24px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.player-mark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.player-mark-button {
  font-size: 2rem;
  font-family: 'Frijole', cursive;
  /* font-weight: 800; */
  width: 4rem;
  height: 4rem;
  border-radius: 48px;
  border: none;
  background-color: #f6cd61;
  color: orangered;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.player-mark-button:hover {
  background-color: var(--main-bg-clr);
  color: white;
}

.player-mark-button:active,
.active {
  border: 2px solid green;
  background-color: #f6cd61;
  color: green;
  top: 2px;
  left: 1px;
  box-shadow: none;
}

.player-scores {
  display: flex;
  gap: 3rem;
}

.player-card {
  padding: 1rem;
  width: 6rem;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 1px solid black;
  text-transform: capitalize;
}

.player-card-mark {
  font-size: 1.4rem;
}

.player-card img {
  width: 50px;
}

.player2-card-icon {
  
}

.winner-info {
  font-size: 1.2rem;
  line-height: normal;
}

#gameBoard {
  /* margin: 5rem auto; */
  width: min(500px, 90%);
  aspect-ratio: 1 / 1;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  gap: 5px;
  margin-bottom: 7rem;
}

#gameBoard > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: indigo;
  font-size: 4rem;
}

.one {
  background-color: indigo;
  position: relative;
}

.two {
  background-color: orangered;
}

.three {
  background-color: indigo;
}

.four {
  background-color: limegreen;
}

.corner {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
}